<div class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-6 col-md-2">
      <div class="">
        <img src="assets/foto.jpg" class="img-thumbnail rounded float-start" />
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col col-md-5">
      <p class="text-center fw-bold fs-5">User Name</p>
      <p class="text-center fw-bold fs-5">Pontuação Atual: Pontos Pontos</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <hr class="border border-primary border-2" />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <a routerLink="dados" class="btn btn-primary w-100">Dados</a>
        </div>
        <div class="col">
          <a routerLink="historico" class="btn btn-success w-100">Histórico</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <hr class="border border-primary border-2" />
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
