<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  action=""
  class="container mt-1 px-5 bg-primary-subtle px-5 py-3"
>

  <div class="row">
    <div class="col h2 text-center">Cadastro de Usuário</div>
  </div>

  <div class="row">


    <div class="col-md-6">
      <label for="nome" class="form-label">Nome Completo</label>
      <input
        id="nome"
        name="nome"
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            this.form.get('nome')?.invalid &&
            (this.form.get('nome')?.touched || this.form.get('nome')?.dirty),
          'is-valid':
            this.form.get('nome')?.valid &&
            (this.form.get('nome')?.touched || this.form.get('nome')?.dirty)
        }"
        formControlName="nome"
      />
      <div
        *ngIf="
          this.form.get('nome')?.invalid &&
          (this.form.get('nome')?.touched || this.form.get('nome')?.dirty)
        "
        class="invalid-feedback"
      >
        Por favor, digite um nome válido.
      </div>
    </div>


    <div class="col-md-6">
      <label for="email" class="form-label">E-mail</label>
      <input
        id="email"
        name="email"
        type="email"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            this.form.get('email')?.invalid &&
            (this.form.get('email')?.touched || this.form.get('email')?.dirty),
          'is-valid':
            this.form.get('email')?.valid &&
            (this.form.get('email')?.touched || this.form.get('email')?.dirty)
        }"
        formControlName="email"
      />
      <div
        *ngIf="
          this.form.get('email')?.invalid &&
          (this.form.get('email')?.touched || this.form.get('email')?.dirty)
        "
        class="invalid-feedback"
      >
        Por favor, digite um e-mail válido.
      </div>
    </div>


  </div>


  <div class="row">


    <div class="col-md-3">
      <label for="senha" class="form-label">Senha</label>
      <input
        id="senha"
        type="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            this.form.get('senha')?.invalid &&
            (this.form.get('senha')?.touched || this.form.get('senha')?.dirty),
          'is-valid':
            this.form.get('senha')?.valid &&
            (this.form.get('senha')?.touched || this.form.get('senha')?.dirty)
        }"
        formControlName="senha"
      />
      <div
        *ngIf="
          this.form.get('senha')?.errors?.minlength &&
          (this.form.get('senha')?.touched || this.form.get('senha')?.dirty)
        "
        class="invalid-feedback"
      >
        Por favor, digite uma senha com no mínimo 4 caracteres.
      </div>
      <div
        *ngIf="
          this.form.get('senha')?.errors?.maxlength &&
          (this.form.get('senha')?.touched || this.form.get('senha')?.dirty)
        "
        class="invalid-feedback"
      >
        Por favor, digite uma com no máximo 20 caracteres.
      </div>
      <div
        *ngIf="
          this.form.get('senha')?.invalid &&
          !this.form.get('senha')?.errors?.maxlength &&
          !this.form.get('senha')?.errors?.minlength
        "
        class="invalid-feedback"
      >
        Por favor, digite uma senha.
      </div>
    </div>


    <div class="col-md-3">
      <label for="confSenha" class="form-label">Confirmação de Senha</label>
      <input
        id="confSenha"
        type="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            this.form.get('confSenha')?.invalid &&
            (this.form.get('confSenha')?.touched || this.form.get('confSenha')?.dirty),
          'is-valid':
            this.form.get('confSenha')?.valid &&
            (this.form.get('confSenha')?.touched || this.form.get('confSenha')?.dirty)
        }"
        formControlName="confSenha"
      />
      <div
        *ngIf="
          this.form.get('confSenha')?.invalid &&
          !this.form.get('confSenha')?.errors?.maxlength &&
          !this.form.get('confSenha')?.errors?.minlength
        "
        class="invalid-feedback"
      >
        As senhas digitadas não coincidem.
      </div>
    </div>


    <div class="col-md-6">
      <label for="cpf" class="form-label">CPF</label>
      <input
        id="cpf"
        name="cpf"
        type="cpf"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            this.form.get('cpf')?.invalid &&
            (this.form.get('cpf')?.touched || this.form.get('cpf')?.dirty),
          'is-valid':
            this.form.get('cpf')?.valid &&
            (this.form.get('cpf')?.touched || this.form.get('cpf')?.dirty)
        }"
        formControlName="cpf"
      />
      <div
        *ngIf="
          this.form.get('cpf')?.invalid &&
          (this.form.get('cpf')?.touched || this.form.get('cpf')?.dirty)
        "
        class="invalid-feedback"
      >
        Por favor, digite um CPF válido.
      </div>
    </div>


  </div>


  <div class="row">


    <div class="col-md-2">
      <label for="cep" class="form-label">CEP</label>
      <input
        type="text"
        name="cep"
        id="cep"
        class="form-control"
        formControlName="cep"
        [ngClass]="{
          'is-invalid':
            this.form.get('cep')?.invalid &&
            (this.form.get('cep')?.touched || this.form.get('cep')?.dirty),
          'is-valid':
            this.form.get('cep')?.valid &&
            (this.form.get('cep')?.touched || this.form.get('cep')?.dirty)
        }"
      />
      <div
        *ngIf="
          this.form.get('cep')?.invalid &&
          (this.form.get('cep')?.touched || this.form.get('cep')?.dirty)
        "
        class="invalid-feedback"
      >
        Digite um CEP válido.
      </div>
    </div>


    <div class="col-md-4">
      <label for="cidade" class="form-label">Cidade</label>
      <input
        type="text"
        name="cidade"
        id="cidade"
        class="form-control"
        formControlName="cidade"
        [ngClass]="{
          'is-invalid':
            this.form.get('cidade')?.invalid &&
            (this.form.get('cidade')?.touched ||
              this.form.get('cidade')?.dirty),
          'is-valid':
            this.form.get('cidade')?.valid &&
            (this.form.get('cidade')?.touched || this.form.get('cidade')?.dirty)
        }"
      />
      <div
        *ngIf="
          this.form.get('cidade')?.invalid &&
          (this.form.get('cidade')?.touched || this.form.get('cidade')?.dirty)
        "
        class="invalid-feedback"
      >
        Digite uma Cidade.
      </div>
    </div>


    <div class="col-md-4">
      <label for="rua" class="form-label">Rua</label>
      <input
        type="text"
        name="rua"
        id="rua"
        class="form-control"
        formControlName="rua"
        [ngClass]="{
          'is-invalid':
            this.form.get('rua')?.invalid &&
            (this.form.get('rua')?.touched || this.form.get('rua')?.dirty),
          'is-valid':
            this.form.get('rua')?.valid &&
            (this.form.get('rua')?.touched || this.form.get('rua')?.dirty)
        }"
      />
      <div
        *ngIf="
          this.form.get('rua')?.invalid &&
          (this.form.get('rua')?.touched || this.form.get('rua')?.dirty)
        "
        class="invalid-feedback"
      >
        Digite um Logradouro.
      </div>
    </div>


    <div class="col-md-2">
      <label for="uf" class="form-label">UF</label>
      <select
        title="UF"
        name="uf"
        id="uf"
        class="form-select"
        formControlName="uf"
        [ngClass]="{
          'is-invalid':
            this.form.get('uf')?.invalid &&
            (this.form.get('uf')?.touched || this.form.get('uf')?.dirty),
          'is-valid':
            this.form.get('uf')?.valid &&
            (this.form.get('uf')?.touched || this.form.get('uf')?.dirty)
        }"
      >
        <option value="{{ i }}" *ngFor="let UF of estados; let i = index">
          {{ UF.sigla }}
        </option>
      </select>
      <div
        *ngIf="
          this.form.get('uf')?.invalid &&
          (this.form.get('uf')?.touched || this.form.get('uf')?.dirty)
        "
        class="invalid-feedback"
      >
        Selecione um estado.
      </div>
    </div>


  </div>


  <div class="row my-3">


    <div
      class="col-md d-flex justify-content-center"
      [ngClass]="{
      'align-items-end': !this.form.get('rua')?.touched || !this.form.get('uf')?.touched,
      'align-items-center': (this.form.get('rua')?.invalid &&
            (this.form.get('rua')?.touched || this.form.get('rua')?.dirty)) || (this.form.get('uf')?.invalid &&
            (this.form.get('uf')?.touched || this.form.get('uf')?.dirty)),
    }"
    >
      <button
        type="submit"
        class="btn btn-success w-md-50 w-100 h-md-50 mt-2 mt-md-0"
        (click)="salvar()"
      >
        Cadastrar
      </button>
    </div>


  </div>
</form>
