<div class="container text-center h3 pb-5">
    Exercício 3 - Contador
</div>
<div class="container text-center my-3 display-6"> Contagem: {{cont}}</div>
<div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <button class="btn btn-success fs-1 p-5" (click)="aumentar()">
            Aumentar
        </button>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <button class="btn btn-danger fs-1 p-5" (click)="diminuir()">
            Diminuir
        </button>
    </div>
</div>
