<div class="container text-center h3 pb-5">
    Exercício 2 - Input
</div>
<div class="container">
    <label for="selectType" class="h5">Selecione o tipo de entrada que você deseja:</label>
    <select name="selectType" id="" class="form-select" (change)="configureType($event)">
        <option selected>Clique para mostrar os tipos disponíveis</option>
        <option value="{{i}}" *ngFor="let type of types; let i = index">{{type}}</option>        
    </select>
</div>

<div *ngIf="typeEnable" class="container border border-warning border-3 mt-5 d-flex justify-content-center flex-column p-5">
    <div class="container d-flex justify-content-center">
        <label for="" class="h4 m-2">{{types_dict[type]}}</label>
    </div>
    <div class="container d-flex justify-content-center">
        <input type="{{type}}" (focus)="focused()" (blur)="blurred()" value="Type:{{type}}">
    </div>    
</div>

