<div class="container p-4">
    <h1 class="mb-4">Como Jogar o Duck GO! - Guia do Usuário</h1>
    <p>Bem-vindo ao emocionante mundo do Duck GO!, o jogo de caça aos QR Codes baseado em locais turísticos da encantadora cidade de Pato Branco! Siga o guia abaixo para aprender como se divertir e ganhar pontos enquanto explora os pontos turísticos da cidade e desfruta de brindes e descontos exclusivos no comércio local.</p>

    <h2 class="mt-4">Passo 1: Cadastro</h2>
    <ol>
      <li>Acesse o site oficial do <a routerLink="">Duck GO!</a> em seu navegador.</li>
      <li>Clique na opção <a routerLink="/register">Registrar</a> no topo da página.</li>
      <li>Preencha os campos obrigatórios com suas informações pessoais, como nome, endereço de e-mail e senha.</li>
      <li>Após preencher os campos, clique em "Cadastrar" para criar sua conta.</li>
    </ol>

    <h2 class="mt-4">Passo 2: Explorando os Locais de Caça</h2>
    <ol>
      <li>Navegue até a seção "Locais de Caça".</li>
      <li>Explore os diversos pontos turísticos da bela cidade de Pato Branco listados nessa seção. Cada ponto turístico estará acompanhado de uma breve descrição.</li>
      <li>Escolha um dos locais para começar sua aventura de caça aos QR Codes.</li>
    </ol>

    <h2 class="mt-4">Passo 3: Caçando QR Codes e Pontuações</h2>
    <ol>
      <li>Uma vez no local escolhido, mantenha os olhos abertos para localizar os QR Codes escondidos. Eles estarão estrategicamente colocados ao redor do ponto turístico.</li>
      <li>Escaneie os QR Codes usando o botão de câmera na página principal do jogo. Clique no botão e aponte a câmera para o código.</li>
      <li>Cada QR Code escondido terá uma pontuação diferente, dependendo do ponto turístico onde você o encontrou. As pontuações serão automaticamente adicionadas à sua conta.</li>
    </ol>

    <h2 class="mt-4">Passo 4: Ganhe e Resgate Pontos</h2>
    <ol>
      <li>Acompanhe sua pontuação total na sua página de perfil.</li>
      <li>Acumule pontos suficientes explorando diferentes locais de caça.</li>
      <li>Os pontos conquistados podem ser resgatados por meio de brindes emocionantes e descontos exclusivos no comércio local de Pato Branco.</li>
    </ol>

    <h2 class="mt-4">Restrições e Limitações</h2>
    <ul>
      <li>Você pode escanear um novo QR Code a cada 5 minutos.</li>
      <li>Existe um limite máximo de 30 pontos por semana.</li>
      <li>Certifique-se de estar conectado à sua conta ao escanear os QR Codes para garantir que os pontos sejam creditados corretamente.</li>
    </ul>
  </div>
